/* Nav bar Style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    width: 100%;
    margin: 0;
    
}
nav ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.dawnnav li{
    list-style: none;
    float: left;
}
ul.dawnnav li {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align:center;
    padding: 14px;
    text-transform: uppercase;
    color: rgb(27, 25, 25);
}
ul.dawnnav li:hover{
    background-color: rgb(25, 0, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    
}

/* Banner Login 

.bannerLogin{
    border: 5px solid #121211;
    text-align: center;
}
*/
ul.routeList li {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align:center;
    padding: 14px;
    text-transform: uppercase;
    color: rgb(27, 25, 25);
}

ul.routeList li:hover{
    background-color: rgb(72, 137, 158);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

#userpic {
    width: 500px;
}

#homepic {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}


/***/
.divuserloginstyle{
    background-color: aqua;
}